    <center>
   <h3>Todo #<%= params[:id] %></h3>
   <h1> Class: <%= @assignment_subject%></h1>
   
   <ul id="assignment-info">
       <li> Assignment Name: <%= @assignment_description %></li>
       <li> Due Date: <%=@assignment_due_date%></li>
       <li> Time Estimate: <%=@assignment_time_estimte_in_min%></li>
       <li> Status: <%=@assignment_is_complete%></li>
   </ul>
   
   <input type="checkbox">Complete
   
   <br>
   
   <a href= "assignments.html">Edit</a>
   <a href= assignments.html">Delete</a>
   <a href= "assignments.html">Go Back</a>
    
   </center>
    
    
    
    
          